nav .brand-logo {
	left: 10px;
	font-family: 'Pacifico', cursive;
}
#dropdown1{
	top: 56px;
}
.no_orders{
	padding-top:20%;
}
@media screen and (max-width: 699px){
	.no_orders{
		padding-top:62%;
	}

}
.sticky{
    position: fixed;
    top: 0;
    z-index: 999;
}
.space{
	margin-top: 67px;
}

input[type="search"] {
  height: 64px !important; /* or height of nav */
}