{% extends 'base.html' %}


{% block content %}
    {% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<center>
    <div style="padding-top: 20px">
      <img class="responsive-img" style="width: 250px;" src="http://i.imgur.com/ax0NCsK.gif" />
      <div class="section"></div>

      <h5 class="indigo-text">Please, login into your account</h5>
      <div class="section"></div>
    </div>
</center>
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2 z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">  
            <form method="post" action="{% url 'login' %}"  class="signin">
                {% csrf_token %}
                      <p><label for="id_username">Username:</label>
                        {{ form.username }}</p>
                        <p><label for="id_password">Password:</label>
                        {{ form.password }}</p>
                        <label style='float: right;padding-bottom: 40px;'>
                                <a class='pink-text' href='#!'><b>Forgot Password?</b></a>
                        </label>
                <p class="bs-component">
                <div class='row'>
                <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo' value="login/">Login</button>
                </div>
                </p>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>   
        </div>
    </div>

    <center>
     <p><strong>-- OR --</strong></p>
     <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Gooogle</a><br>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
   <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a><br>
   <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a><br>
    <a href="/signup">Create account</a>
    </center>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}